<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Send WhatsApp Message</title>
</head>
<body>
    <h1>Send WhatsApp Message</h1>
    <form action="/send" method="post">
        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" required><br><br>
        
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea><br><br>

        <label for="hour">Hour(24-hour format):</label>
        <input type="number" id="hour" name="hour" min="0" max="23" required><br><br>
        
        <label for="minute">Minute:</label>
        <input type="number" id="minute" name="minute" min="0" max="59" required><br><br>
        
        <input type="submit" value="Send Message">
    </form>
</body>
</html>